*{
    margin: 0px;
    background-color: rgb(255, 255, 255);
}
#outer{
    width: 2200px;
    height: 2200px;
    border: 1px solid;
    margin-left: 27%;
    margin-bottom:100 px;
    border-color: black;
    background-color: rgb(94, 201, 111);
}
#inner{
    width: 2000px;
    height: 2000px;
    border: 3px solid;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 10px;
    border-color: black;
    background-color: rgb(255, 194, 194);
}
#final{
    display: flex;
    width: 1600px;
    height: 1600px;
    margin-left: 200px;
    margin-top: 190px;
    border: 1px solid;
}

.blk{
    color: white;
    text-align: center;
    width: 200px;
    height:200px ;
background-color: black;
}
.wht{
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: rgb(152, 229, 149);

}